header {
    background:url("../img/photo_header.jpg") no-repeat center;
    background-size: cover;
    height: 770px;
}

li {
    a{
        text-transform: uppercase;
    }
}

h1 {
    position: relative;
    top: 400px;
    color: #b29c85;
    font-family: 'Abril Fatface', cursive;
}
